<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
        <title>Careers at Ethan Hunt Technologies Ltd.</title>
    </head>
    <body>
        <div class="div1">
            <h2>Career</h2>
        </div>
        <div class="div2">
        </div>
    </body>
</html>