<html>

<head>
    <title>NodeJS|EJS|Sample1</title>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="/assets/sample1.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
        crossorigin="anonymous"></script>

    <head>

        <body>
            <script src="/assets/system/bubdi.js" type="text/javascript"></script>
            <!--<script>
    $(document).ready(function(){
        //call executeMenuSet to create the Navigational Menu
        //argument list
        //Hexadecimal Color Code in String format with # :: Background solid color for Header Nav
        //Interger value greater than 0 to be evaluated in unit 'em' ::Height of Header Nav
        //Interger value between 0 and 8 ::Number of Menu Items
        //Interger value greater than 0 to be evaluated in unit 'em' :: Width and Height of Menu Items
        //Array of Hexadecimal Color Code in String format with #:Background solid color for Menu Items
        //Array of object{"DisplayText":"_value_","Link":"_value_"}
       executeMenuSet('#FF4D4D',4,5,7,['#FF8AC6', '#9994FF', '#99FFEE', '#B3FF8A', '#FFC87A', '#FFDA33', '#53D061', '#A47FDC', '#1B1849', '#DE9CBC', '#B8703D'],[{"DisplayName":"Link1","Link":"www.google.com"},{"DisplayName":"Link2","Link":"www.google.com"},{"DisplayName":"Link3","Link":"www.google.com"},{"DisplayName":"Link4","Link":"www.google.com"},{"DisplayName":"Link5","Link":"www.google.com"},{"DisplayName":"Link6","Link":"www.google.com"},{"DisplayName":"Link7","Link":"www.google.com"},{"DisplayName":"Link8","Link":"www.google.com"},]);
    });
    </script>
    <video id="backVideo" autoplay loop muted poster="/assets/images/video_poster.png">
        <source src="/assets/videos/Planet.mp4" type="video/mp4">
    </video>-->
            <!--<div id="frontVideo">
        <span class="span">We are a growing business in the Global Market</span>-->
            
            
            <!--
            <div id="Shape-Container">
                <div id="Shape-Container-Div">
                    <div id="Shape-Container-Div-Image"><img src="/assets/images/career.jpg" />
                    </div>
                </div>
                <p id="Shape-Container-Content">addddddddd dddddddddddd addddddddd ddddddddddddaddddddddd ddddddddddddaddddddddd dddddddddddd addddddddd
                    ddddddddddddaddddddddd ddddddddddddaddddddddd dddddddddddd addddddddd ddddddddddddaddddddddd ddddddddddddaddddddddd
                    dddddddddddd addddddddd ddddddddddddaddddddddd ddddddddddddaddddddddd dddddddddddd
                </p>
            </div>
-->
<script>
    createShapeContainer($("body"),"/assets/images/career.jpg","adad adadd dada dada dada dada");
    </script>
            <body>

</html>